# PDR Assessor Data Analysis

In [1]:
#SF Open Data included very incomplete building SF data, so this cleans and analyzes City/County Assessor property tax data

In [1]:
import pandas as pd
import requests
import geopandas as gpd
import matplotlib.pyplot as plt
from pandas import ExcelWriter
from pandas import ExcelFile

In [2]:
pip install xlrd

Requirement already satisfied: xlrd in /srv/app/venv/lib/python3.6/site-packages
You are using pip version 9.0.3, however version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
#Accessing 2017-2018 property tax data
url = 'https://www.sfassessor.org/sites/default/files/uploaded/2019.8.12__SF_ASR_Secured_Roll_Data_2017-2018_0.xlsx'

import requests  
r = requests.get(url)  
open('AssessorPropertyData.xls', 'wb').write(r.content)

32639786

In [4]:
sheet = pd.read_excel('AssessorPropertyData.xls')

In [5]:
pd.set_option("display.max.columns", None)
sheet.head()

,PROPLOC,RP1NBRCDE,RP1PRCLID,RP1VOLUME,RP1CLACDE,YRBLT,BATHS,BEDS,ROOMS,STOREYNO,UNITS,ZONE,CONSTTYPE,DEPTH,FRONT,SQFT,FBA,LAREA,LOTCODE,REPRISDATE,RP1TRACDE,OWNRPRCNT,EXEMPTYPE,RP1STACDE,RP1EXMVL2,RP1EXMVL1,ROLLYEAR,RECURRSALD,RP1FXTVAL,RP1IMPVAL,RP1LNDVAL,RP1PPTVAL
0,0000 0000 0000,08H,0001 001,1,G,1900,0,0,0,0,0,P,NaN,0.0,0.0,0,0,27965.0,NaN,NaN,1000.0,1.0,NaN,N,0,0,17,0,0,0,0,0
1,0000 0000 0000,08H,0002 001,1,G,1900,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,8359.0,NaN,NaN,1000.0,1.0,NaN,N,0,0,17,0,0,0,0,0
2,0000 0000 0000,08H,0004 002,1,VCI,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.0,NaN,NaN,1000.0,1.0,NaN,N,0,0,17,0,0,0,0,0
3,0000 0286 JEFFERSON ST0000,08H,0005 001,1,G,1900,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,68153.0,NaN,NaN,1000.0,1.0,NaN,N,0,0,17,0,0,0,0,0
4,0000 0000 0000,08H,0006 001,1,G,1900,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,108015.0,NaN,NaN,1000.0,1.0,NaN,N,0,0,17,0,0,0,0,0

In [6]:
#Looking at the data

sheet.sample(n=10)

,PROPLOC,RP1NBRCDE,RP1PRCLID,RP1VOLUME,RP1CLACDE,YRBLT,BATHS,BEDS,ROOMS,STOREYNO,UNITS,ZONE,CONSTTYPE,DEPTH,FRONT,SQFT,FBA,LAREA,LOTCODE,REPRISDATE,RP1TRACDE,OWNRPRCNT,EXEMPTYPE,RP1STACDE,RP1EXMVL2,RP1EXMVL1,ROLLYEAR,RECURRSALD,RP1FXTVAL,RP1IMPVAL,RP1LNDVAL,RP1PPTVAL
140155,0000 0601 ALABAMA ST0109,09C,4021 014,26,Z,2009,2,3,0,0,0,NaN,NaN,0.00,0.0,1114,1114,0.0,NaN,NaN,1000.0,1.00000,11,NaN,0,7000,17,90910,0,327545,327545,0
91481,0000 2450 20TH AV0000,02D,2406 026,17,D,1929,1,0,6,1,1,RH1D,D,20.00,0.0,1415,0,3999.6,R,NaN,1000.0,1.00000,11,NaN,0,7000,17,890307,0,246575,404230,0
126722,0000 0199 NEW MONTGOMERY ST1508,09B,3722 242,25,Z,2004,0,0,0,0,0,NaN,NaN,0.00,0.0,653,0,0.0,NaN,NaN,1000.0,0.40000,NaN,NaN,0,0,17,110713,0,215221,297215,0
88929,0000 2397 21ST AV0000,02D,2350 017,17,C,1933,4,0,6,2,2,NC2,D,0.00,0.0,4225,0,3249.0,O,NaN,1000.0,0.50000,NaN,NaN,0,0,17,70921,0,762808,1144218,0
201071,0000 2973 21ST AV0000,03F,7205 005A,44,D,1931,3,4,10,1,1,RH1D,D,0.00,0.0,2432,742,4098.0,NaN,NaN,1000.0,1.00000,11,NaN,0,7000,17,0,0,144496,46354,0
46036,0000 0628 CENTRAL AV0000,06F,1185 021,9,A5,1906,6,0,24,3,6,RM1,D,6.25,0.0,4950,0,2762.5,R,NaN,1000.0,0.50000,NaN,NaN,0,0,17,910207,0,289436,253250,0
197194,0000 0809 SARGENT ST0000,03G,7083 027,42,D,1940,1,0,4,1,1,RH1,D,0.00,0.0,1000,0,2500.0,R,NaN,1000.0,1.00000,NaN,NaN,0,0,17,20110,0,183291,274937,0
84000,0000 2011 19TH AV0000,02D,2139 001A,16,F,1915,2,0,7,1,2,RH2,D,0.00,0.0,1292,0,2996.0,O,NaN,1000.0,0.33333,NaN,NaN,0,0,17,110408,0,209712,220746,0
127519,0000 0725 TEHAMA STIT 2,09F,3729 122,25,LZ,2000,2,0,0,0,1,NaN,NaN,0.00,0.0,1390,0,0.0,NaN,NaN,1000.0,1.00000,11,NaN,0,7000,17,100415,0,284723,425976,0
186928,3656 3654 MISSION ST0000,09G,6687 019,40,F,1965,4,0,12,2,2,RH2,D,0.00,0.0,3220,0,2487.0,NaN,NaN,1000.0,1.00000,NaN,NaN,0,0,17,0,0,291846,179245,0

In [7]:
#Figuring out how to merge RP1PRCLID, the parcel number, into a single 7 digit identifier
sheet.RP1PRCLID.describe()

count        208041
unique       208041
top       6596 013J
freq              1
Name: RP1PRCLID, dtype: object

In [8]:
sheet['parcelno'] = sheet['RP1PRCLID']

In [9]:
sheet.head()

,PROPLOC,RP1NBRCDE,RP1PRCLID,RP1VOLUME,RP1CLACDE,YRBLT,BATHS,BEDS,ROOMS,STOREYNO,UNITS,ZONE,CONSTTYPE,DEPTH,FRONT,SQFT,FBA,LAREA,LOTCODE,REPRISDATE,RP1TRACDE,OWNRPRCNT,EXEMPTYPE,RP1STACDE,RP1EXMVL2,RP1EXMVL1,ROLLYEAR,RECURRSALD,RP1FXTVAL,RP1IMPVAL,RP1LNDVAL,RP1PPTVAL,parcelno
0,0000 0000 0000,08H,0001 001,1,G,1900,0,0,0,0,0,P,NaN,0.0,0.0,0,0,27965.0,NaN,NaN,1000.0,1.0,NaN,N,0,0,17,0,0,0,0,0,0001 001
1,0000 0000 0000,08H,0002 001,1,G,1900,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,8359.0,NaN,NaN,1000.0,1.0,NaN,N,0,0,17,0,0,0,0,0,0002 001
2,0000 0000 0000,08H,0004 002,1,VCI,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.0,NaN,NaN,1000.0,1.0,NaN,N,0,0,17,0,0,0,0,0,0004 002
3,0000 0286 JEFFERSON ST0000,08H,0005 001,1,G,1900,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,68153.0,NaN,NaN,1000.0,1.0,NaN,N,0,0,17,0,0,0,0,0,0005 001
4,0000 0000 0000,08H,0006 001,1,G,1900,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,108015.0,NaN,NaN,1000.0,1.0,NaN,N,0,0,17,0,0,0,0,0,0006 001

In [10]:
sheet[['Block','Lot']] = sheet.parcelno.str.split(" ",expand=True,)
sheet

,PROPLOC,RP1NBRCDE,RP1PRCLID,RP1VOLUME,RP1CLACDE,YRBLT,BATHS,BEDS,ROOMS,STOREYNO,UNITS,ZONE,CONSTTYPE,DEPTH,FRONT,SQFT,FBA,LAREA,LOTCODE,REPRISDATE,RP1TRACDE,OWNRPRCNT,EXEMPTYPE,RP1STACDE,RP1EXMVL2,RP1EXMVL1,ROLLYEAR,RECURRSALD,RP1FXTVAL,RP1IMPVAL,RP1LNDVAL,RP1PPTVAL,parcelno,Block,Lot
0,0000 0000 0000,08H,0001 001,1,G,1900,0,0,0,0,0,P,NaN,0.0,0.0,0,0,27965.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0001 001,0001,001
1,0000 0000 0000,08H,0002 001,1,G,1900,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,8359.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0002 001,0002,001
2,0000 0000 0000,08H,0004 002,1,VCI,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0004 002,0004,002
3,0000 0286 JEFFERSON ST0000,08H,0005 001,1,G,1900,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,68153.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0005 001,0005,001
4,0000 0000 0000,08H,0006 001,1,G,1900,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,108015.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0006 001,0006,001
5,0000 0000 0000,08H,0007 001,1,G,1900,0,0,0,0,0,C2,NaN,75.0,0.0,0,0,113437.50,R,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0007 001,0007,001
6,0000 2801 LEAVENWORTH ST0000,08H,0010 001,1,C1,1907,0,0,0,3,0,C2,C,0.0,0.0,133675,0,66124.00,NaN,NaN,1000.0,1.0000,NaN,NaN,0,0,17,110523,0,9087359,13631039,0,0010 001,0010,001
7,0495 0455 JEFFERSON ST0000,08H,0010 002,1,H,1907,0,0,252,4,0,C2,NaN,0.0,0.0,203840,0,47131.00,NaN,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,0,0,1,0,0010 002,0010,002
8,0000 2800 LEAVENWORTH ST0000,08H,0011 007,1,HC,0,0,0,0,0,0,C2,NaN,75.0,0.0,0,0,55687.50,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,41001,947696,32668516,32668516,67032,0011 007,0011,007
9,0000 0500 BEACH ST0000,08H,0011 008,1,C1,1974,7,0,36,4,29,C2,A,75.0,0.0,198525,0,57750.00,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,41001,0,16694570,32668516,0,0011 008,0011,008
10,2755 2739 TAYLOR ST0000,08H,0012 001,1,C,1953,12,0,19,2,4,C2,C,37.5,0.0,24627,0,18906.25,S,NaN,1000.0,1.0000,NaN,NaN,0,0,17,920131,0,5958065,12494375,0,0012 001,0012,001
11,2731 2701 TAYLOR ST0000,08H,0012 002,1,C,1921,7,0,9,1,9,C2,D,37.5,0.0,6841,0,63020.38,R,NaN,1000.0,0.5000,NaN,NaN,0,0,17,0,0,1067943,2285224,0,0012 002,0012,002
12,0000 0418 BEACH ST0000,08H,0012 003,1,C,1948,2,0,5,1,1,C2,D,36.0,0.0,6800,0,6800.00,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,990311,0,837824,1485883,0,0012 003,0012,003
13,0000 0498 BEACH ST0000,08H,0012 003A,1,X,1993,0,0,0,2,1,C2,NaN,0.0,0.0,6100,0,43480.00,O,NaN,1000.0,0.4951,NaN,NaN,0,0,17,0,0,202986,4304760,0,0012 003A,0012,003A
14,0293 0283 JEFFERSON ST0000,08H,0012 005,1,C,1948,8,0,2,1,1,C2,D,80.0,0.0,4000,0,11000.00,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,0,212109,1400189,0,0012 005,0012,005
15,0281 0275 JEFFERSON ST0000,08H,0012 006,1,C,1948,5,0,1,1,1,C2,D,70.0,0.0,3500,0,9625.00,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,0,185504,1225163,0,0012 006,0012,006
16,0000 0281 JEFFERSON ST0000,08H,0012 007,1,C,1986,2,0,2,1,2,C2,D,50.0,0.0,2500,0,6875.00,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,0,459249,1009361,0,0012 007,0012,007
17,0000 0243 JEFFERSON ST0000,08H,0012 007A,1,C,1937,4,0,11,2,1,C2,C,75.0,0.0,15397,0,10312.50,R,NaN,1000.0,0.1677,NaN,NaN,0,0,17,0,0,545264,1477284,828,0012 007A,0012,007A
18,0000 0101 JEFFERSON ST0000,08H,0013 001,1,C,1946,6,0,4,1,3,C2,D,87.5,0.0,3281,0,3281.25,R,NaN,1000.0,0.5000,NaN,NaN,0,0,17,0,0,213938,672863,0,0013 001,0013,001
19,0000 0350 BEACH ST0000,08H,0013 004,1,X,1974,2,0,7,4,2,C2,B,37.5,0.0,81488,0,18906.25,S,NaN,1000.0,0.1302,NaN,NaN,0,0,17,880914,0,2262859,2262859,0,0013 004,0013,004
20,0000 2720 TAYLOR ST0000,08H,0013 005,1,OC,1974,12,0,15,4,11,C2,B,37.5,0.0,54068,0,18906.25,S,NaN,1000.0,0.2000,NaN,NaN,0,0,17,0,0,3116700,2627905,0,0013 005,0013,005
21,0000 2770 TAYLOR ST0000,08H,0013 006,1,C,1966,7,0,30,3,4,C2,C,0.0,0.0,40017,0,13750.00,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,0,2350317,1578598,0,0013 006,0013,006
22,0000 0165 JEFFERSON ST0000,08H,0013 006A,1,C,1968,4,0,12,2,1,C2,D,37.5,0.0,6776,0,5156.25,R,NaN,1000.0,0.1000,NaN,NaN,0,0,17,0,0,243259,326661,0,0013 006A,0013,006A
23,0000 0155 JEFFERSON ST0000,08H,0013 007,1,C,1968,3,0,9,2,1,C2,D,50.0,0.0,8954,0,6875.00,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,58060,422017,435753,5776,0013 007,0013,007
24,0000 2601 MASON ST0000,08H,0013 009,1,M,1959,51,0,63,3,51,C2,D,0.0,0.0,15882,0,15154.00,NaN,NaN,1000.0,1.0000,NaN,NaN,0,0,17,140331,0,5745974,8618961,0,0013 009,0013,009
25,0000 0330 BEACH ST0000,08H,0013 010,1,X,1900,0,0,0,0,1,C2,B,50.0,0.0,0,0,3750.00,R,NaN,1000.0,1.0000,NaN,S,0,0,17,0,0,0,0,0,0013 010,0013,010
26,0000 0107 SITUS TO BE ASSIGNEDST0000,08H,0013 016,1,C,0,0,0,0,0,0,NaN,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,0,28863285,1645228,0,0013 016,0013,016
27,0097 0091 JEFFERSON ST0000,08H,0014 001,1,M,1963,246,0,295,4,250,C2,B,12.5,0.0,220932,0,113437.50,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,0,83421638,124214457,0,0014 001,0014,001
28,0000 1789 THE EMBARCADERO 0000,08H,0015 001,1,X,1900,2,0,5,1,3,C2,D,0.0,0.0,0,0,73180.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0015 001,0015,001
29,0000 0050 BEACH ST0000,08H,0016 001,1,X,1900,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,8947.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0016 001,0016,001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208011,0000 0000 THE EMBARCADERO 0045,08H,9900 045,44,Y,1900,0,0,0,0,0,M1,NaN,0.0,0.0,0,0,451535.00,O,NaN,1000.0,1.0000,NaN,N,0,0,17,690228,0,0,0,0,9900 045,9900,045
208012,0000 0286 JEFFERSON ST0000,08H,9900 047,44,Y,1900,0,0,0,0,0,M1,NaN,0.0,0.0,0,0,15581.00,O,NaN,1000.0,1.0000,NaN,N,0,0,17,690228,0,0,0,0,9900 047,9900,047
208013,0000 0000 THE EMBARCADERO 0047A,08H,9900 047A,44,Y,0,0,0,0,0,0,M1,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 047A,9900,047A
208014,0000 0000 THE EMBARCADERO 0048,08H,9900 048,44,Y,1900,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,230019.00,O,NaN,1000.0,1.0000,NaN,N,0,0,17,690228,0,0,0,0,9900 048,9900,048
208015,0000 0000 0000,08H,9900 048A,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 048A,9900,048A
208016,0000 0000 THE EMBARCADERO 0048H,08H,9900 048H,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 048H,9900,048H
208017,0000 0000 THE EMBARCADERO 0049,08H,9900 049,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 049,9900,049
208018,0000 0000 THE EMBARCADERO 0050,08H,9900 050,44,Y,1900,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,841602.00,O,NaN,1000.0,1.0000,NaN,N,0,0,17,700525,0,0,0,0,9900 050,9900,050
208019,0000 0000 THE EMBARCADERO 0050H,08H,9900 050H,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 050H,9900,050H
208020,0000 0000 THE EMBARCADERO 0052,08H,9900 052,44,Y,1900,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,28600.00,O,NaN,1000.0,1.0000,NaN,N,0,0,17,690228,0,0,0,0,9900 052,9900,052
208021,0000 0000 THE EMBARCADERO 0054,08H,9900 054,44,Y,1900,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,114662.00,O,NaN,1000.0,1.0000,NaN,N,0,0,17,690228,0,0,0,0,9900 054,9900,054
208022,0000 0000 THE EMBARCADERO 0054H,08H,9900 054H,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 054H,9900,054H
208023,0000 0000 0000,08H,9900 062,44,Y,1900,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,4.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690228,0,0,0,0,9900 062,9900,062
208024,0000 0000 THE EMBARCADERO 0064,08H,9900 064,44,Y,1900,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,101147.00,O,NaN,1000.0,1.0000,NaN,N,0,0,17,690228,0,0,0,0,9900 064,9900,064
208025,0000 0000 THE EMBARCADERO 0064H,08H,9900 064H,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 064H,9900,064H
208026,0000 0000 THE EMBARCADERO 0068,08H,9900 068,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 068,9900,068
208027,0000 0000 THE EMBARCADERO 0070,08H,9900 070,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 070,9900,070
208028,0000 0000 THE EMBARCADERO 0098,08H,9900 098,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 098,9900,098
208029,0000 0000 THE EMBARCADERO 0000,08H,9900 200,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 200,9900,200
208030,0000 0000 THE EMBARCADERO 0000,08H,9900 201,44,Y,0,0,0,0,0,0,M1/M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 201,9900,201
208031,0000 0000 HYDE ST0000,08H,9900 250,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 250,9900,250
208032,0000 0000 THE EMBARCADERO 0000,08H,9900 274,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,930801,0,0,0,0,9900 274,9900,274
208033,0000 0000 0000,08H,9900 274H,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 274H,9900,274H
208034,0000 0000 THE EMBARCADERO 0000,08H,9900 275,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,950515,0,0,0,0,9900 275,9900,275
208035,0000 0000 THE EMBARCADERO 0000,08H,9900 278,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 278,9900,278
208036,0000 0000 BERRY ST0000,08H,9900 336,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 336,9900,336
208037,0000 0000 THE EMBARCADERO 0039,08H,9900 501,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 501,9900,501
208038,0000 0000 THE EMBARCADERO 0039,08H,9900 502,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 502,9900,502
208039,0000 0000 BERRY ST0000,08H,9900 503,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 503,9900,503
208040,0000 0000 0000,08I,9999 999,99,TS,0,0,0,0,0,0,NaN,NaN,0.0,0.0,0,0,0.00,NaN,NaN,NaN,0.0000,NaN,NaN,0,0,17,0,0,0,0,0,9999 999,9999,999

In [11]:
sheet["parcelno2"] = sheet["Block"] + sheet["Lot"]

In [12]:
sheet

,PROPLOC,RP1NBRCDE,RP1PRCLID,RP1VOLUME,RP1CLACDE,YRBLT,BATHS,BEDS,ROOMS,STOREYNO,UNITS,ZONE,CONSTTYPE,DEPTH,FRONT,SQFT,FBA,LAREA,LOTCODE,REPRISDATE,RP1TRACDE,OWNRPRCNT,EXEMPTYPE,RP1STACDE,RP1EXMVL2,RP1EXMVL1,ROLLYEAR,RECURRSALD,RP1FXTVAL,RP1IMPVAL,RP1LNDVAL,RP1PPTVAL,parcelno,Block,Lot,parcelno2
0,0000 0000 0000,08H,0001 001,1,G,1900,0,0,0,0,0,P,NaN,0.0,0.0,0,0,27965.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0001 001,0001,001,0001001
1,0000 0000 0000,08H,0002 001,1,G,1900,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,8359.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0002 001,0002,001,0002001
2,0000 0000 0000,08H,0004 002,1,VCI,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0004 002,0004,002,0004002
3,0000 0286 JEFFERSON ST0000,08H,0005 001,1,G,1900,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,68153.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0005 001,0005,001,0005001
4,0000 0000 0000,08H,0006 001,1,G,1900,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,108015.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0006 001,0006,001,0006001
5,0000 0000 0000,08H,0007 001,1,G,1900,0,0,0,0,0,C2,NaN,75.0,0.0,0,0,113437.50,R,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0007 001,0007,001,0007001
6,0000 2801 LEAVENWORTH ST0000,08H,0010 001,1,C1,1907,0,0,0,3,0,C2,C,0.0,0.0,133675,0,66124.00,NaN,NaN,1000.0,1.0000,NaN,NaN,0,0,17,110523,0,9087359,13631039,0,0010 001,0010,001,0010001
7,0495 0455 JEFFERSON ST0000,08H,0010 002,1,H,1907,0,0,252,4,0,C2,NaN,0.0,0.0,203840,0,47131.00,NaN,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,0,0,1,0,0010 002,0010,002,0010002
8,0000 2800 LEAVENWORTH ST0000,08H,0011 007,1,HC,0,0,0,0,0,0,C2,NaN,75.0,0.0,0,0,55687.50,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,41001,947696,32668516,32668516,67032,0011 007,0011,007,0011007
9,0000 0500 BEACH ST0000,08H,0011 008,1,C1,1974,7,0,36,4,29,C2,A,75.0,0.0,198525,0,57750.00,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,41001,0,16694570,32668516,0,0011 008,0011,008,0011008
10,2755 2739 TAYLOR ST0000,08H,0012 001,1,C,1953,12,0,19,2,4,C2,C,37.5,0.0,24627,0,18906.25,S,NaN,1000.0,1.0000,NaN,NaN,0,0,17,920131,0,5958065,12494375,0,0012 001,0012,001,0012001
11,2731 2701 TAYLOR ST0000,08H,0012 002,1,C,1921,7,0,9,1,9,C2,D,37.5,0.0,6841,0,63020.38,R,NaN,1000.0,0.5000,NaN,NaN,0,0,17,0,0,1067943,2285224,0,0012 002,0012,002,0012002
12,0000 0418 BEACH ST0000,08H,0012 003,1,C,1948,2,0,5,1,1,C2,D,36.0,0.0,6800,0,6800.00,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,990311,0,837824,1485883,0,0012 003,0012,003,0012003
13,0000 0498 BEACH ST0000,08H,0012 003A,1,X,1993,0,0,0,2,1,C2,NaN,0.0,0.0,6100,0,43480.00,O,NaN,1000.0,0.4951,NaN,NaN,0,0,17,0,0,202986,4304760,0,0012 003A,0012,003A,0012003A
14,0293 0283 JEFFERSON ST0000,08H,0012 005,1,C,1948,8,0,2,1,1,C2,D,80.0,0.0,4000,0,11000.00,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,0,212109,1400189,0,0012 005,0012,005,0012005
15,0281 0275 JEFFERSON ST0000,08H,0012 006,1,C,1948,5,0,1,1,1,C2,D,70.0,0.0,3500,0,9625.00,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,0,185504,1225163,0,0012 006,0012,006,0012006
16,0000 0281 JEFFERSON ST0000,08H,0012 007,1,C,1986,2,0,2,1,2,C2,D,50.0,0.0,2500,0,6875.00,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,0,459249,1009361,0,0012 007,0012,007,0012007
17,0000 0243 JEFFERSON ST0000,08H,0012 007A,1,C,1937,4,0,11,2,1,C2,C,75.0,0.0,15397,0,10312.50,R,NaN,1000.0,0.1677,NaN,NaN,0,0,17,0,0,545264,1477284,828,0012 007A,0012,007A,0012007A
18,0000 0101 JEFFERSON ST0000,08H,0013 001,1,C,1946,6,0,4,1,3,C2,D,87.5,0.0,3281,0,3281.25,R,NaN,1000.0,0.5000,NaN,NaN,0,0,17,0,0,213938,672863,0,0013 001,0013,001,0013001
19,0000 0350 BEACH ST0000,08H,0013 004,1,X,1974,2,0,7,4,2,C2,B,37.5,0.0,81488,0,18906.25,S,NaN,1000.0,0.1302,NaN,NaN,0,0,17,880914,0,2262859,2262859,0,0013 004,0013,004,0013004
20,0000 2720 TAYLOR ST0000,08H,0013 005,1,OC,1974,12,0,15,4,11,C2,B,37.5,0.0,54068,0,18906.25,S,NaN,1000.0,0.2000,NaN,NaN,0,0,17,0,0,3116700,2627905,0,0013 005,0013,005,0013005
21,0000 2770 TAYLOR ST0000,08H,0013 006,1,C,1966,7,0,30,3,4,C2,C,0.0,0.0,40017,0,13750.00,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,0,2350317,1578598,0,0013 006,0013,006,0013006
22,0000 0165 JEFFERSON ST0000,08H,0013 006A,1,C,1968,4,0,12,2,1,C2,D,37.5,0.0,6776,0,5156.25,R,NaN,1000.0,0.1000,NaN,NaN,0,0,17,0,0,243259,326661,0,0013 006A,0013,006A,0013006A
23,0000 0155 JEFFERSON ST0000,08H,0013 007,1,C,1968,3,0,9,2,1,C2,D,50.0,0.0,8954,0,6875.00,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,58060,422017,435753,5776,0013 007,0013,007,0013007
24,0000 2601 MASON ST0000,08H,0013 009,1,M,1959,51,0,63,3,51,C2,D,0.0,0.0,15882,0,15154.00,NaN,NaN,1000.0,1.0000,NaN,NaN,0,0,17,140331,0,5745974,8618961,0,0013 009,0013,009,0013009
25,0000 0330 BEACH ST0000,08H,0013 010,1,X,1900,0,0,0,0,1,C2,B,50.0,0.0,0,0,3750.00,R,NaN,1000.0,1.0000,NaN,S,0,0,17,0,0,0,0,0,0013 010,0013,010,0013010
26,0000 0107 SITUS TO BE ASSIGNEDST0000,08H,0013 016,1,C,0,0,0,0,0,0,NaN,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,0,28863285,1645228,0,0013 016,0013,016,0013016
27,0097 0091 JEFFERSON ST0000,08H,0014 001,1,M,1963,246,0,295,4,250,C2,B,12.5,0.0,220932,0,113437.50,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,0,83421638,124214457,0,0014 001,0014,001,0014001
28,0000 1789 THE EMBARCADERO 0000,08H,0015 001,1,X,1900,2,0,5,1,3,C2,D,0.0,0.0,0,0,73180.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0015 001,0015,001,0015001
29,0000 0050 BEACH ST0000,08H,0016 001,1,X,1900,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,8947.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0016 001,0016,001,0016001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208011,0000 0000 THE EMBARCADERO 0045,08H,9900 045,44,Y,1900,0,0,0,0,0,M1,NaN,0.0,0.0,0,0,451535.00,O,NaN,1000.0,1.0000,NaN,N,0,0,17,690228,0,0,0,0,9900 045,9900,045,9900045
208012,0000 0286 JEFFERSON ST0000,08H,9900 047,44,Y,1900,0,0,0,0,0,M1,NaN,0.0,0.0,0,0,15581.00,O,NaN,1000.0,1.0000,NaN,N,0,0,17,690228,0,0,0,0,9900 047,9900,047,9900047
208013,0000 0000 THE EMBARCADERO 0047A,08H,9900 047A,44,Y,0,0,0,0,0,0,M1,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 047A,9900,047A,9900047A
208014,0000 0000 THE EMBARCADERO 0048,08H,9900 048,44,Y,1900,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,230019.00,O,NaN,1000.0,1.0000,NaN,N,0,0,17,690228,0,0,0,0,9900 048,9900,048,9900048
208015,0000 0000 0000,08H,9900 048A,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 048A,9900,048A,9900048A
208016,0000 0000 THE EMBARCADERO 0048H,08H,9900 048H,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 048H,9900,048H,9900048H
208017,0000 0000 THE EMBARCADERO 0049,08H,9900 049,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 049,9900,049,9900049
208018,0000 0000 THE EMBARCADERO 0050,08H,9900 050,44,Y,1900,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,841602.00,O,NaN,1000.0,1.0000,NaN,N,0,0,17,700525,0,0,0,0,9900 050,9900,050,9900050
208019,0000 0000 THE EMBARCADERO 0050H,08H,9900 050H,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 050H,9900,050H,9900050H
208020,0000 0000 THE EMBARCADERO 0052,08H,9900 052,44,Y,1900,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,28600.00,O,NaN,1000.0,1.0000,NaN,N,0,0,17,690228,0,0,0,0,9900 052,9900,052,9900052
208021,0000 0000 THE EMBARCADERO 0054,08H,9900 054,44,Y,1900,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,114662.00,O,NaN,1000.0,1.0000,NaN,N,0,0,17,690228,0,0,0,0,9900 054,9900,054,9900054
208022,0000 0000 THE EMBARCADERO 0054H,08H,9900 054H,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 054H,9900,054H,9900054H
208023,0000 0000 0000,08H,9900 062,44,Y,1900,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,4.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690228,0,0,0,0,9900 062,9900,062,9900062
208024,0000 0000 THE EMBARCADERO 0064,08H,9900 064,44,Y,1900,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,101147.00,O,NaN,1000.0,1.0000,NaN,N,0,0,17,690228,0,0,0,0,9900 064,9900,064,9900064
208025,0000 0000 THE EMBARCADERO 0064H,08H,9900 064H,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 064H,9900,064H,9900064H
208026,0000 0000 THE EMBARCADERO 0068,08H,9900 068,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 068,9900,068,9900068
208027,0000 0000 THE EMBARCADERO 0070,08H,9900 070,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 070,9900,070,9900070
208028,0000 0000 THE EMBARCADERO 0098,08H,9900 098,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 098,9900,098,9900098
208029,0000 0000 THE EMBARCADERO 0000,08H,9900 200,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 200,9900,200,9900200
208030,0000 0000 THE EMBARCADERO 0000,08H,9900 201,44,Y,0,0,0,0,0,0,M1/M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 201,9900,201,9900201
208031,0000 0000 HYDE ST0000,08H,9900 250,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 250,9900,250,9900250
208032,0000 0000 THE EMBARCADERO 0000,08H,9900 274,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,930801,0,0,0,0,9900 274,9900,274,9900274
208033,0000 0000 0000,08H,9900 274H,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 274H,9900,274H,9900274H
208034,0000 0000 THE EMBARCADERO 0000,08H,9900 275,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,950515,0,0,0,0,9900 275,9900,275,9900275
208035,0000 0000 THE EMBARCADERO 0000,08H,9900 278,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 278,9900,278,9900278
208036,0000 0000 BERRY ST0000,08H,9900 336,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 336,9900,336,9900336
208037,0000 0000 THE EMBARCADERO 0039,08H,9900 501,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 501,9900,501,9900501
208038,0000 0000 THE EMBARCADERO 0039,08H,9900 502,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 502,9900,502,9900502
208039,0000 0000 BERRY ST0000,08H,9900 503,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 503,9900,503,9900503
208040,0000 0000 0000,08I,9999 999,99,TS,0,0,0,0,0,0,NaN,NaN,0.0,0.0,0,0,0.00,NaN,NaN,NaN,0.0000,NaN,NaN,0,0,17,0,0,0,0,0,9999 999,9999,999,9999999

In [13]:
#Cleaning up column names

sheet['zoning'] = sheet['ZONE']
sheet['buildingsf'] = sheet['SQFT']
sheet['landarea'] = sheet['LAREA']
sheet['landvalue'] = sheet['RP1LNDVAL']

In [14]:
sheet

,PROPLOC,RP1NBRCDE,RP1PRCLID,RP1VOLUME,RP1CLACDE,YRBLT,BATHS,BEDS,ROOMS,STOREYNO,UNITS,ZONE,CONSTTYPE,DEPTH,FRONT,SQFT,FBA,LAREA,LOTCODE,REPRISDATE,RP1TRACDE,OWNRPRCNT,EXEMPTYPE,RP1STACDE,RP1EXMVL2,RP1EXMVL1,ROLLYEAR,RECURRSALD,RP1FXTVAL,RP1IMPVAL,RP1LNDVAL,RP1PPTVAL,parcelno,Block,Lot,parcelno2,zoning,buildingsf,landarea,landvalue
0,0000 0000 0000,08H,0001 001,1,G,1900,0,0,0,0,0,P,NaN,0.0,0.0,0,0,27965.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0001 001,0001,001,0001001,P,0,27965.00,0
1,0000 0000 0000,08H,0002 001,1,G,1900,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,8359.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0002 001,0002,001,0002001,C2,0,8359.00,0
2,0000 0000 0000,08H,0004 002,1,VCI,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0004 002,0004,002,0004002,C2,0,0.00,0
3,0000 0286 JEFFERSON ST0000,08H,0005 001,1,G,1900,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,68153.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0005 001,0005,001,0005001,C2,0,68153.00,0
4,0000 0000 0000,08H,0006 001,1,G,1900,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,108015.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0006 001,0006,001,0006001,C2,0,108015.00,0
5,0000 0000 0000,08H,0007 001,1,G,1900,0,0,0,0,0,C2,NaN,75.0,0.0,0,0,113437.50,R,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0007 001,0007,001,0007001,C2,0,113437.50,0
6,0000 2801 LEAVENWORTH ST0000,08H,0010 001,1,C1,1907,0,0,0,3,0,C2,C,0.0,0.0,133675,0,66124.00,NaN,NaN,1000.0,1.0000,NaN,NaN,0,0,17,110523,0,9087359,13631039,0,0010 001,0010,001,0010001,C2,133675,66124.00,13631039
7,0495 0455 JEFFERSON ST0000,08H,0010 002,1,H,1907,0,0,252,4,0,C2,NaN,0.0,0.0,203840,0,47131.00,NaN,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,0,0,1,0,0010 002,0010,002,0010002,C2,203840,47131.00,1
8,0000 2800 LEAVENWORTH ST0000,08H,0011 007,1,HC,0,0,0,0,0,0,C2,NaN,75.0,0.0,0,0,55687.50,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,41001,947696,32668516,32668516,67032,0011 007,0011,007,0011007,C2,0,55687.50,32668516
9,0000 0500 BEACH ST0000,08H,0011 008,1,C1,1974,7,0,36,4,29,C2,A,75.0,0.0,198525,0,57750.00,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,41001,0,16694570,32668516,0,0011 008,0011,008,0011008,C2,198525,57750.00,32668516
10,2755 2739 TAYLOR ST0000,08H,0012 001,1,C,1953,12,0,19,2,4,C2,C,37.5,0.0,24627,0,18906.25,S,NaN,1000.0,1.0000,NaN,NaN,0,0,17,920131,0,5958065,12494375,0,0012 001,0012,001,0012001,C2,24627,18906.25,12494375
11,2731 2701 TAYLOR ST0000,08H,0012 002,1,C,1921,7,0,9,1,9,C2,D,37.5,0.0,6841,0,63020.38,R,NaN,1000.0,0.5000,NaN,NaN,0,0,17,0,0,1067943,2285224,0,0012 002,0012,002,0012002,C2,6841,63020.38,2285224
12,0000 0418 BEACH ST0000,08H,0012 003,1,C,1948,2,0,5,1,1,C2,D,36.0,0.0,6800,0,6800.00,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,990311,0,837824,1485883,0,0012 003,0012,003,0012003,C2,6800,6800.00,1485883
13,0000 0498 BEACH ST0000,08H,0012 003A,1,X,1993,0,0,0,2,1,C2,NaN,0.0,0.0,6100,0,43480.00,O,NaN,1000.0,0.4951,NaN,NaN,0,0,17,0,0,202986,4304760,0,0012 003A,0012,003A,0012003A,C2,6100,43480.00,4304760
14,0293 0283 JEFFERSON ST0000,08H,0012 005,1,C,1948,8,0,2,1,1,C2,D,80.0,0.0,4000,0,11000.00,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,0,212109,1400189,0,0012 005,0012,005,0012005,C2,4000,11000.00,1400189
15,0281 0275 JEFFERSON ST0000,08H,0012 006,1,C,1948,5,0,1,1,1,C2,D,70.0,0.0,3500,0,9625.00,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,0,185504,1225163,0,0012 006,0012,006,0012006,C2,3500,9625.00,1225163
16,0000 0281 JEFFERSON ST0000,08H,0012 007,1,C,1986,2,0,2,1,2,C2,D,50.0,0.0,2500,0,6875.00,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,0,459249,1009361,0,0012 007,0012,007,0012007,C2,2500,6875.00,1009361
17,0000 0243 JEFFERSON ST0000,08H,0012 007A,1,C,1937,4,0,11,2,1,C2,C,75.0,0.0,15397,0,10312.50,R,NaN,1000.0,0.1677,NaN,NaN,0,0,17,0,0,545264,1477284,828,0012 007A,0012,007A,0012007A,C2,15397,10312.50,1477284
18,0000 0101 JEFFERSON ST0000,08H,0013 001,1,C,1946,6,0,4,1,3,C2,D,87.5,0.0,3281,0,3281.25,R,NaN,1000.0,0.5000,NaN,NaN,0,0,17,0,0,213938,672863,0,0013 001,0013,001,0013001,C2,3281,3281.25,672863
19,0000 0350 BEACH ST0000,08H,0013 004,1,X,1974,2,0,7,4,2,C2,B,37.5,0.0,81488,0,18906.25,S,NaN,1000.0,0.1302,NaN,NaN,0,0,17,880914,0,2262859,2262859,0,0013 004,0013,004,0013004,C2,81488,18906.25,2262859
20,0000 2720 TAYLOR ST0000,08H,0013 005,1,OC,1974,12,0,15,4,11,C2,B,37.5,0.0,54068,0,18906.25,S,NaN,1000.0,0.2000,NaN,NaN,0,0,17,0,0,3116700,2627905,0,0013 005,0013,005,0013005,C2,54068,18906.25,2627905
21,0000 2770 TAYLOR ST0000,08H,0013 006,1,C,1966,7,0,30,3,4,C2,C,0.0,0.0,40017,0,13750.00,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,0,2350317,1578598,0,0013 006,0013,006,0013006,C2,40017,13750.00,1578598
22,0000 0165 JEFFERSON ST0000,08H,0013 006A,1,C,1968,4,0,12,2,1,C2,D,37.5,0.0,6776,0,5156.25,R,NaN,1000.0,0.1000,NaN,NaN,0,0,17,0,0,243259,326661,0,0013 006A,0013,006A,0013006A,C2,6776,5156.25,326661
23,0000 0155 JEFFERSON ST0000,08H,0013 007,1,C,1968,3,0,9,2,1,C2,D,50.0,0.0,8954,0,6875.00,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,58060,422017,435753,5776,0013 007,0013,007,0013007,C2,8954,6875.00,435753
24,0000 2601 MASON ST0000,08H,0013 009,1,M,1959,51,0,63,3,51,C2,D,0.0,0.0,15882,0,15154.00,NaN,NaN,1000.0,1.0000,NaN,NaN,0,0,17,140331,0,5745974,8618961,0,0013 009,0013,009,0013009,C2,15882,15154.00,8618961
25,0000 0330 BEACH ST0000,08H,0013 010,1,X,1900,0,0,0,0,1,C2,B,50.0,0.0,0,0,3750.00,R,NaN,1000.0,1.0000,NaN,S,0,0,17,0,0,0,0,0,0013 010,0013,010,0013010,C2,0,3750.00,0
26,0000 0107 SITUS TO BE ASSIGNEDST0000,08H,0013 016,1,C,0,0,0,0,0,0,NaN,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,0,28863285,1645228,0,0013 016,0013,016,0013016,NaN,0,0.00,1645228
27,0097 0091 JEFFERSON ST0000,08H,0014 001,1,M,1963,246,0,295,4,250,C2,B,12.5,0.0,220932,0,113437.50,R,NaN,1000.0,1.0000,NaN,NaN,0,0,17,0,0,83421638,124214457,0,0014 001,0014,001,0014001,C2,220932,113437.50,124214457
28,0000 1789 THE EMBARCADERO 0000,08H,0015 001,1,X,1900,2,0,5,1,3,C2,D,0.0,0.0,0,0,73180.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0015 001,0015,001,0015001,C2,0,73180.00,0
29,0000 0050 BEACH ST0000,08H,0016 001,1,X,1900,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,8947.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,0,0,0,0,0,0016 001,0016,001,0016001,C2,0,8947.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208011,0000 0000 THE EMBARCADERO 0045,08H,9900 045,44,Y,1900,0,0,0,0,0,M1,NaN,0.0,0.0,0,0,451535.00,O,NaN,1000.0,1.0000,NaN,N,0,0,17,690228,0,0,0,0,9900 045,9900,045,9900045,M1,0,451535.00,0
208012,0000 0286 JEFFERSON ST0000,08H,9900 047,44,Y,1900,0,0,0,0,0,M1,NaN,0.0,0.0,0,0,15581.00,O,NaN,1000.0,1.0000,NaN,N,0,0,17,690228,0,0,0,0,9900 047,9900,047,9900047,M1,0,15581.00,0
208013,0000 0000 THE EMBARCADERO 0047A,08H,9900 047A,44,Y,0,0,0,0,0,0,M1,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 047A,9900,047A,9900047A,M1,0,0.00,0
208014,0000 0000 THE EMBARCADERO 0048,08H,9900 048,44,Y,1900,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,230019.00,O,NaN,1000.0,1.0000,NaN,N,0,0,17,690228,0,0,0,0,9900 048,9900,048,9900048,M2,0,230019.00,0
208015,0000 0000 0000,08H,9900 048A,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 048A,9900,048A,9900048A,M2,0,0.00,0
208016,0000 0000 THE EMBARCADERO 0048H,08H,9900 048H,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 048H,9900,048H,9900048H,M2,0,0.00,0
208017,0000 0000 THE EMBARCADERO 0049,08H,9900 049,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 049,9900,049,9900049,C2,0,0.00,0
208018,0000 0000 THE EMBARCADERO 0050,08H,9900 050,44,Y,1900,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,841602.00,O,NaN,1000.0,1.0000,NaN,N,0,0,17,700525,0,0,0,0,9900 050,9900,050,9900050,M2,0,841602.00,0
208019,0000 0000 THE EMBARCADERO 0050H,08H,9900 050H,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 050H,9900,050H,9900050H,M2,0,0.00,0
208020,0000 0000 THE EMBARCADERO 0052,08H,9900 052,44,Y,1900,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,28600.00,O,NaN,1000.0,1.0000,NaN,N,0,0,17,690228,0,0,0,0,9900 052,9900,052,9900052,M2,0,28600.00,0
208021,0000 0000 THE EMBARCADERO 0054,08H,9900 054,44,Y,1900,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,114662.00,O,NaN,1000.0,1.0000,NaN,N,0,0,17,690228,0,0,0,0,9900 054,9900,054,9900054,M2,0,114662.00,0
208022,0000 0000 THE EMBARCADERO 0054H,08H,9900 054H,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 054H,9900,054H,9900054H,M2,0,0.00,0
208023,0000 0000 0000,08H,9900 062,44,Y,1900,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,4.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690228,0,0,0,0,9900 062,9900,062,9900062,M2,0,4.00,0
208024,0000 0000 THE EMBARCADERO 0064,08H,9900 064,44,Y,1900,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,101147.00,O,NaN,1000.0,1.0000,NaN,N,0,0,17,690228,0,0,0,0,9900 064,9900,064,9900064,M2,0,101147.00,0
208025,0000 0000 THE EMBARCADERO 0064H,08H,9900 064H,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 064H,9900,064H,9900064H,M2,0,0.00,0
208026,0000 0000 THE EMBARCADERO 0068,08H,9900 068,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 068,9900,068,9900068,M2,0,0.00,0
208027,0000 0000 THE EMBARCADERO 0070,08H,9900 070,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 070,9900,070,9900070,M2,0,0.00,0
208028,0000 0000 THE EMBARCADERO 0098,08H,9900 098,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 098,9900,098,9900098,M2,0,0.00,0
208029,0000 0000 THE EMBARCADERO 0000,08H,9900 200,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 200,9900,200,9900200,C2,0,0.00,0
208030,0000 0000 THE EMBARCADERO 0000,08H,9900 201,44,Y,0,0,0,0,0,0,M1/M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 201,9900,201,9900201,M1/M2,0,0.00,0
208031,0000 0000 HYDE ST0000,08H,9900 250,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 250,9900,250,9900250,C2,0,0.00,0
208032,0000 0000 THE EMBARCADERO 0000,08H,9900 274,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,930801,0,0,0,0,9900 274,9900,274,9900274,C2,0,0.00,0
208033,0000 0000 0000,08H,9900 274H,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 274H,9900,274H,9900274H,C2,0,0.00,0
208034,0000 0000 THE EMBARCADERO 0000,08H,9900 275,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,950515,0,0,0,0,9900 275,9900,275,9900275,C2,0,0.00,0
208035,0000 0000 THE EMBARCADERO 0000,08H,9900 278,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 278,9900,278,9900278,C2,0,0.00,0
208036,0000 0000 BERRY ST0000,08H,9900 336,44,Y,0,0,0,0,0,0,C2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 336,9900,336,9900336,C2,0,0.00,0
208037,0000 0000 THE EMBARCADERO 0039,08H,9900 501,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 501,9900,501,9900501,M2,0,0.00,0
208038,0000 0000 THE EMBARCADERO 0039,08H,9900 502,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 502,9900,502,9900502,M2,0,0.00,0
208039,0000 0000 BERRY ST0000,08H,9900 503,44,Y,0,0,0,0,0,0,M2,NaN,0.0,0.0,0,0,0.00,NaN,NaN,1000.0,1.0000,NaN,N,0,0,17,690229,0,0,0,0,9900 503,9900,503,9900503,M2,0,0.00,0
208040,0000 0000 0000,08I,9999 999,99,TS,0,0,0,0,0,0,NaN,NaN,0.0,0.0,0,0,0.00,NaN,NaN,NaN,0.0000,NaN,NaN,0,0,17,0,0,0,0,0,9999 999,9999,999,9999999,NaN,0,0.00,0

In [15]:
#creating a new and clean data frame to work with
reldata = sheet[['parcelno2', 'zoning', 'buildingsf', 'landarea', 'landvalue']].copy()

In [16]:
reldata

       parcelno2 zoning  buildingsf   landarea  landvalue
0        0001001      P           0   27965.00          0
1        0002001     C2           0    8359.00          0
2        0004002     C2           0       0.00          0
3        0005001     C2           0   68153.00          0
4        0006001     C2           0  108015.00          0
5        0007001     C2           0  113437.50          0
6        0010001     C2      133675   66124.00   13631039
7        0010002     C2      203840   47131.00          1
8        0011007     C2           0   55687.50   32668516
9        0011008     C2      198525   57750.00   32668516
10       0012001     C2       24627   18906.25   12494375
11       0012002     C2        6841   63020.38    2285224
12       0012003     C2        6800    6800.00    1485883
13      0012003A     C2        6100   43480.00    4304760
14       0012005     C2        4000   11000.00    1400189
15       0012006     C2        3500    9625.00    1225163
16       0012007     C2        2500    6875.00    1009361
17      0012007A     C2       15397   10312.50    1477284
18       0013001     C2        3281    3281.25     672863
19       0013004     C2       81488   18906.25    2262859
20       0013005     C2       54068   18906.25    2627905
21       0013006     C2       40017   13750.00    1578598
22      0013006A     C2        6776    5156.25     326661
23       0013007     C2        8954    6875.00     435753
24       0013009     C2       15882   15154.00    8618961
25       0013010     C2           0    3750.00          0
26       0013016    NaN           0       0.00    1645228
27       0014001     C2      220932  113437.50  124214457
28       0015001     C2           0   73180.00          0
29       0016001     C2           0    8947.00          0
...          ...    ...         ...        ...        ...
208011   9900045     M1           0  451535.00          0
208012   9900047     M1           0   15581.00          0
208013  9900047A     M1           0       0.00          0
208014   9900048     M2           0  230019.00          0
208015  9900048A     M2           0       0.00          0
208016  9900048H     M2           0       0.00          0
208017   9900049     C2           0       0.00          0
208018   9900050     M2           0  841602.00          0
208019  9900050H     M2           0       0.00          0
208020   9900052     M2           0   28600.00          0
208021   9900054     M2           0  114662.00          0
208022  9900054H     M2           0       0.00          0
208023   9900062     M2           0       4.00          0
208024   9900064     M2           0  101147.00          0
208025  9900064H     M2           0       0.00          0
208026   9900068     M2           0       0.00          0
208027   9900070     M2           0       0.00          0
208028   9900098     M2           0       0.00          0
208029   9900200     C2           0       0.00          0
208030   9900201  M1/M2           0       0.00          0
208031   9900250     C2           0       0.00          0
208032   9900274     C2           0       0.00          0
208033  9900274H     C2           0       0.00          0
208034   9900275     C2           0       0.00          0
208035   9900278     C2           0       0.00          0
208036   9900336     C2           0       0.00          0
208037   9900501     M2           0       0.00          0
208038   9900502     M2           0       0.00          0
208039   9900503     M2           0       0.00          0
208040   9999999    NaN           0       0.00          0

[208041 rows x 5 columns]

In [17]:
reldata.to_csv(r'AssessorDataNew.csv')

In [ ]:
#bringing existing parcel data set to merge assessor data with

In [19]:
parcelzoning = pd.read_csv('parcelwzoning.csv', low_memory=False)

In [20]:
parcelzoning.sample(n=8)

,Unnamed: 0,objectid,blklot,bldgsf,totuses,landuse,pdr,parcelarea,zoning_code,active,geometry,zoning
35615,35615,35591,1773004,4000,0,RESIDENT,0,2975.867235,RH-2,True,MULTIPOLYGON (((-122.47608172488529 37.7622626...,RH-2
19522,19522,19494,1266010,3882,0,RESIDENT,0,3410.403315,RH-3,True,MULTIPOLYGON (((-122.45334762405818 37.7654635...,RH-3
53411,53411,53387,2174007,995,0,RESIDENT,0,2989.093346,RH-1,True,MULTIPOLYGON (((-122.50187864888127 37.7469166...,RH-1
50448,50448,50424,2090044,1162,0,RESIDENT,0,2953.274290,RH-1,True,MULTIPOLYGON (((-122.50362050119898 37.7504442...,RH-1
145965,145965,145957,5428F018,1626,0,RESIDENT,0,1732.487495,RH-1,True,MULTIPOLYGON (((-122.3978337102544 37.72849904...,RH-1
2485,2485,2480,0162001,9666,0,VISITOR,0,3208.972298,NCD,True,MULTIPOLYGON (((-122.40567945820216 37.7976621...,NCD
143811,143811,143809,7275032,2157,0,RESIDENT,0,3113.692355,RH-1(D),True,MULTIPOLYGON (((-122.49469657676617 37.7315123...,RH-1(D)
53358,53358,53334,2186042,2979,0,RESIDENT,0,2975.843301,RH-1,True,MULTIPOLYGON (((-122.48942334882054 37.7473302...,RH-1

In [21]:
parcelzoning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155468 entries, 0 to 155467
Data columns (total 12 columns):
Unnamed: 0     155468 non-null int64
objectid       155468 non-null int64
blklot         155468 non-null object
bldgsf         155468 non-null int64
totuses        155468 non-null int64
landuse        155468 non-null object
pdr            155468 non-null int64
parcelarea     155468 non-null float64
zoning_code    154673 non-null object
active         155451 non-null object
geometry       155468 non-null object
zoning         154673 non-null object
dtypes: float64(1), int64(5), object(6)
memory usage: 14.2+ MB

In [ ]:
#merging data, tried two different ways to see what would preserve the most non-null data

In [22]:
combined_parcel = pd.merge(left=parcelzoning, right=reldata, how='left', left_on='blklot', right_on='parcelno2')

In [23]:
combined_parcel.sample(n=8)

,Unnamed: 0,objectid,blklot,bldgsf,totuses,landuse,pdr,parcelarea,zoning_code,active,geometry,zoning_x,parcelno2,zoning_y,buildingsf,landarea,landvalue
73118,73118,73098,3275A008,3125,0,RESIDENT,0,3466.940790,RH-1(D),True,MULTIPOLYGON (((-122.46141341387138 37.7290460...,RH-1(D),NaN,NaN,NaN,NaN,NaN
23264,23264,23237,1451035,1650,0,RESIDENT,0,2983.832062,RM-1,True,MULTIPOLYGON (((-122.47891677264282 37.7814226...,RM-1,1451035,RM1,1650.0,3000.0,271978.0
152639,152639,152637,0219012,21040,2411,MIXRES,0,6679.182372,RM-3,True,MULTIPOLYGON (((-122.41724362631888 37.7920345...,RM-3,0219012,RM3,21040.0,6664.0,1200602.0
77810,77810,77791,2998041,1698,0,RESIDENT,0,2575.799906,RH-1,True,MULTIPOLYGON (((-122.45134594037378 37.7369104...,RH-1,2998041,RH1,1698.0,2286.0,557758.0
119106,119106,119094,7238A011,1651,0,RESIDENT,0,3928.422381,RH-1(D),True,MULTIPOLYGON (((-122.47455346993584 37.7219348...,RH-1(D),NaN,NaN,NaN,NaN,NaN
85123,85123,85109,3584089,0,0,MIXRES,0,2812.840341,RH-3,True,MULTIPOLYGON (((-122.4312988497194 37.76071132...,RH-3,3584089,RH3,0.0,2848.0,39015.0
22714,22714,22687,1354020,3250,0,RESIDENT,0,4536.699971,RH-1,True,MULTIPOLYGON (((-122.46320104055063 37.7883862...,RH-1,1354020,RH1,4297.0,4560.0,2374185.0
80028,80028,80012,3624037,1795,0,RESIDENT,0,2815.777619,RH-2,True,MULTIPOLYGON (((-122.43334334451858 37.7533476...,RH-2,3624037,RH2,1795.0,2848.0,38988.0

In [24]:
combined_parcel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155468 entries, 0 to 155467
Data columns (total 17 columns):
Unnamed: 0     155468 non-null int64
objectid       155468 non-null int64
blklot         155468 non-null object
bldgsf         155468 non-null int64
totuses        155468 non-null int64
landuse        155468 non-null object
pdr            155468 non-null int64
parcelarea     155468 non-null float64
zoning_code    154673 non-null object
active         155451 non-null object
geometry       155468 non-null object
zoning_x       154673 non-null object
parcelno2      145546 non-null object
zoning_y       140671 non-null object
buildingsf     145546 non-null float64
landarea       145546 non-null float64
landvalue      145546 non-null float64
dtypes: float64(4), int64(5), object(8)
memory usage: 21.4+ MB

In [ ]:
#second merged data variable

In [25]:
combined_assessor = pd.merge(left=reldata, right=parcelzoning, how='left', left_on='parcelno2', right_on='blklot')

In [26]:
combined_assessor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 208041 entries, 0 to 208040
Data columns (total 17 columns):
parcelno2      190328 non-null object
zoning_x       172651 non-null object
buildingsf     208041 non-null int64
landarea       208041 non-null float64
landvalue      208041 non-null int64
Unnamed: 0     145546 non-null float64
objectid       145546 non-null float64
blklot         145546 non-null object
bldgsf         145546 non-null float64
totuses        145546 non-null float64
landuse        145546 non-null object
pdr            145546 non-null float64
parcelarea     145546 non-null float64
zoning_code    144769 non-null object
active         145546 non-null object
geometry       145546 non-null object
zoning_y       144769 non-null object
dtypes: float64(7), int64(2), object(8)
memory usage: 28.6+ MB

In [27]:
combined_assessor.sample(n=8)

,parcelno2,zoning_x,buildingsf,landarea,landvalue,Unnamed: 0,objectid,blklot,bldgsf,totuses,landuse,pdr,parcelarea,zoning_code,active,geometry,zoning_y
91441,2405020,RH1D,1318,3998.0,384157,152800.0,152800.0,2405020,1318.0,0.0,RESIDENT,0.0,3974.421982,RH-1(D),True,MULTIPOLYGON (((-122.47718234013138 37.7413158...,RH-1(D)
72973,1834020,RH2,1260,2374.0,76623,38870.0,38846.0,1834020,1260.0,0.0,RESIDENT,0.0,2284.917458,RH-2,True,MULTIPOLYGON (((-122.47750576586985 37.7601249...,RH-2
4027,0080156,C2,941,0.0,137576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102975,2835008,RH1,1062,4216.0,693209,60900.0,60876.0,2835008,1062.0,0.0,RESIDENT,0.0,3601.501690,RH-1(D),True,MULTIPOLYGON (((-122.45322848316381 37.7502463...,RH-1(D)
177679,6410039,NaN,827,0.0,263670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154346,5340023,RH1,1275,2495.0,17689,91366.0,91362.0,5340023,1275.0,0.0,RESIDENT,0.0,2479.176930,RH-1,True,MULTIPOLYGON (((-122.38832495989662 37.7314299...,RH-1
68959,1746006,RH2,4564,2375.0,36405,43602.0,43578.0,1746006,4564.0,0.0,RESIDENT,0.0,2369.660398,RH-2,True,MULTIPOLYGON (((-122.46116010700887 37.7654303...,RH-2
6067,0125049,RH3,930,0.0,129640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
combined_assessor.loc[combined_assessor.zoning_x=='PDR2']

,parcelno2,zoning_x,buildingsf,landarea,landvalue,Unnamed: 0,objectid,blklot,bldgsf,totuses,landuse,pdr,parcelarea,zoning_code,active,geometry,zoning_y
138477,3821009,PDR2,0,13358.00,39989,92464.0,92458.0,3821009,0.0,0.0,VACANT,0.0,13381.795069,PDR-1-D,True,MULTIPOLYGON (((-122.39876573712424 37.7664213...,PDR-1-D
146248,4288004,PDR2,31546,52200.00,3802482,94166.0,94157.0,4288004,31104.0,6292.0,MIXED,3368.0,49446.269364,PDR-2,True,MULTIPOLYGON (((-122.39348424412417 37.7506985...,PDR-2
146249,4288005,PDR2,64000,81237.00,8175338,94167.0,94158.0,4288005,64000.0,19932.0,PDR,17932.0,85616.458300,PDR-2,True,MULTIPOLYGON (((-122.39354920559127 37.7500063...,PDR-2
146250,4288006,PDR2,43200,64800.00,3591233,94168.0,94159.0,4288006,43200.0,55300.0,MIXED,10914.0,63526.786658,PDR-2,True,MULTIPOLYGON (((-122.39462070874185 37.7499444...,PDR-2
146253,4290011,PDR2,9300,9361.00,838063,94327.0,94318.0,4290011,9300.0,4443.0,MIXED,0.0,9578.749982,PDR-2,True,MULTIPOLYGON (((-122.39259612029906 37.7504734...,PDR-2
146630,4343001B,PDR2,35114,69996.00,7767079,103486.0,103464.0,4343001B,35114.0,5168.0,PDR,5168.0,69618.193281,PDR-2,True,MULTIPOLYGON (((-122.397193308955 37.749182371...,PDR-2
146631,4343001D,PDR2,19232,133297.00,3728545,103487.0,103465.0,4343001D,19232.0,2246.0,RETAIL/ENT,0.0,128261.904609,PDR-2,True,MULTIPOLYGON (((-122.40166401819543 37.7470196...,PDR-2
146646,4343030,PDR2,6834,17484.00,929495,94343.0,94334.0,4343030,6834.0,0.0,PDR,0.0,19108.892097,PDR-2,True,MULTIPOLYGON (((-122.40169703643947 37.7470185...,PDR-2
146650,4346003,PDR2,74122,343882.00,34173315,94192.0,94183.0,4346003,74122.0,0.0,PDR,0.0,343542.118835,PDR-2,True,MULTIPOLYGON (((-122.39372432462824 37.7496763...,PDR-2
146653,NaN,PDR2,108793,181269.00,20415781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146673,4352007,PDR2,0,89328.00,0,94500.0,94491.0,4352007,0.0,0.0,PDR,0.0,88904.126536,PDR-2,True,MULTIPOLYGON (((-122.39046031063214 37.7488107...,PDR-2
146675,4353008,PDR2,0,36000.00,3538287,94668.0,94658.0,4353008,0.0,0.0,PDR,0.0,36816.368146,PDR-2,True,MULTIPOLYGON (((-122.38860754626118 37.7497784...,PDR-2
146676,4353010,PDR2,26390,33720.00,2285866,103500.0,103477.0,4353010,26390.0,12407.0,MIXED,5000.0,134752.968218,PDR-2,True,MULTIPOLYGON (((-122.3885328603283 37.74900903...,PDR-2
146677,4353011,PDR2,26390,33720.00,1777121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146678,4353012,PDR2,26390,33720.00,1470077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146679,4353013,PDR2,26390,33720.00,1531327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146713,4570023,PDR2,45705,111099.00,6845970,93070.0,93068.0,4570023,45705.0,0.0,PDR,0.0,108572.682283,PDR-2,True,MULTIPOLYGON (((-122.37793418206176 37.7391302...,PDR-2
146718,4570030,PDR2,33040,51882.00,0,93475.0,93466.0,4570030,33040.0,3197.0,PDR,3197.0,50793.161126,PDR-2,True,MULTIPOLYGON (((-122.37776426614423 37.7393729...,PDR-2
148144,4755049,PDR2,27400,27400.00,83814,96019.0,96012.0,4755049,27400.0,12703.0,MIXED,8984.0,27074.463514,PDR-2,True,MULTIPOLYGON (((-122.3780032158814 37.72652127...,PDR-2
148476,4786070,PDR2,2500,2500.00,344412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148478,4786072,PDR2,0,2500.00,303668,155223.0,155220.0,4786072,0.0,0.0,PDR,0.0,4975.105865,PDR-2,True,MULTIPOLYGON (((-122.38119560965893 37.7264430...,PDR-2
148479,4786073,PDR2,5000,2500.00,303668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148767,4794010,PDR2,6747,6747.00,792199,102404.0,102381.0,4794010,6747.0,0.0,PDR,0.0,6656.554974,PDR-2,True,MULTIPOLYGON (((-122.38096090787539 37.7253646...,PDR-2
148963,4812041,PDR2,9200,2740.00,53767,104395.0,104393.0,4812041,9200.0,0.0,PDR,0.0,2943.725237,PDR-2,True,MULTIPOLYGON (((-122.38549136742158 37.7255789...,PDR-2
149030,4831004,PDR2,6600,4996.00,583553,95829.0,95823.0,4831004,6600.0,5137.0,MIXED,1666.0,4975.007498,PDR-2,True,MULTIPOLYGON (((-122.38788149690403 37.7251735...,PDR-2
149031,4831006,PDR2,5000,4792.00,721490,95830.0,95824.0,4831006,5000.0,0.0,PDR,0.0,4974.964901,PDR-2,True,MULTIPOLYGON (((-122.38774083648704 37.7250937...,PDR-2
149046,4832020,PDR2,4040,4040.00,485856,87867.0,87867.0,4832020,4040.0,7770.0,PDR,7770.0,4016.506423,PDR-2,True,MULTIPOLYGON (((-122.38727665723839 37.7248302...,PDR-2
149047,4832021,PDR2,3060,3060.00,367963,104796.0,104779.0,4832021,3060.0,3806.0,RETAIL/ENT,0.0,3041.493179,PDR-2,True,MULTIPOLYGON (((-122.38735713962113 37.7247409...,PDR-2
149048,4832022,PDR2,5000,4900.00,689940,104797.0,104780.0,4832022,5000.0,3730.0,PDR,3730.0,4875.152150,PDR-2,True,MULTIPOLYGON (((-122.38713881053472 37.7247520...,PDR-2
149084,4848031,PDR2,1586,0.00,120692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153842,5332026,PDR2,2880,3598.00,424415,90580.0,90577.0,5332026,2880.0,0.0,PDR,0.0,3577.372650,PDR-2,True,MULTIPOLYGON (((-122.40090303925706 37.7391760...,PDR-2
153850,5333035,PDR2,1440,5000.00,476193,91678.0,91675.0,5333035,1440.0,2128.0,PDR,2128.0,4975.070348,PDR-2,True,MULTIPOLYGON (((-122.40188411613809 37.7387872...,PDR-2
155062,5369070,PDR2,10168,8930.00,1145923,87693.0,87694.0,5369070,10168.0,0.0,PDR,0.0,9038.367645,PDR-2,True,MULTIPOLYGON (((-122.40393816195196 37.7371051...,PDR-2
156463,5414020,PDR2,9637,9617.50,1008813,91770.0,91765.0,5414020,9637.0,10408.0,MIXED,7963.0,9664.152220,PDR-2,True,MULTIPOLYGON (((-122.39414399654866 37.7288812...,PDR-2
156471,5415001,PDR2,16075,19335.00,2164521,89697.0,89694.0,5415001,16075.0,17000.0,PDR,17000.0,20088.840435,PDR-2,True,MULTIPOLYGON (((-122.39516215510433 37.7294693...,PDR-2
156676,NaN,PDR2,18012,18309.00,1396766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156950,NaN,PDR2,69012,72523.00,11409958,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156951,NaN,PDR2,439294,236391.00,45589657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156955,NaN,PDR2,43990,87159.00,3307303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157143,NaN,PDR2,31500,59628.00,4062376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159303,5559008,PDR2,1760,14100.00,1475665,154530.0,154531.0,5559008,1760.0,4256.0,MIXED,2128.0,14050.978469,PDR-2,True,MULTIPOLYGON (((-122.40295659395618 37.7456408...,PDR-2
159305,5559015,PDR2,17000,14100.00,2759204,108785.0,108768.0,5559015,17000.0,8000.0,RETAIL/ENT,0.0,14050.731935,PDR-2,True,MULTIPOLYGON (((-122.40327394177156 37.7445245...,PDR-2
159306,5559016,PDR2,0,14100.00,1109579,108786.0,108769.0,5559016,0.0,0.0,RETAIL/ENT,0.0,14050.720286,PDR-2,True,MULTIPOLYGON (((-122.40333662528217 37.7443674...,PDR-2
159309,5560001,PDR2,17965,9400.00,665746,139255.0,139250.0,5560001,17965.0,0.0,PDR,0.0,8266.813133,PDR-2,True,MULTIPOLYGON (((-122.40339930850475 37.7442103...,PDR-2
159330,5572001,PDR2,3150,4748.00,605799,149553.0,149551.0,5572001,3150.0,3973.0,PDR,3973.0,3829.442073,PDR-2,True,MULTIPOLYGON (((-122.40333814567626 37.7435528...,PDR-2
159331,5572017,PDR2,3291,3291.60,378790,110254.0,110240.0,5572017,3291.0,0.0,PDR,0.0,2964.234761,PDR-2,True,MULTIPOLYGON (((-122.40360910026183 37.7431741...,PDR-2
159341,5572030,PDR2,3097,3485.00,892500,107689.0,107671.0,5572030,3097.0,3097.0,RETAIL/ENT,0.0,3012.881275,PDR-2,True,MULTIPOLYGON (((-122.40393412571726 37.7426569...,PDR-2
159342,5572031,PDR2,3605,3485.00,517777,107690.0,107672.0,5572031,3605.0,0.0,PDR,0.0,3656.960484,PDR-2,True,MULTIPOLYGON (((-122.40370943779656 37.7426369...,PDR-2
159424,5585004,PDR2,17100,43769.00,792888,110173.0,110159.0,5585004,17100.0,19733.0,PDR,19733.0,43160.696272,PDR-2,True,MULTIPOLYGON (((-122.40185190182133 37.7400715...,PDR-2
159432,NaN,PDR2,2400,22498.00,800793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159433,NaN,PDR2,3266,22572.00,867527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159435,NaN,PDR2,11190,11726.00,1377287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159442,NaN,PDR2,1860,3741.00,571081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159443,NaN,PDR2,6995,6995.00,588745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159453,5596001,PDR2,5313,7923.00,528122,155456.0,155457.0,5596001,5313.0,3000.0,RETAIL/ENT,0.0,6915.819415,PDR-2,True,MULTIPOLYGON (((-122.40541982109421 37.7431508...,PDR-2
159462,5596015,PDR2,5100,5209.00,636443,92026.0,92015.0,5596015,5100.0,0.0,PDR,0.0,4927.257927,PDR-2,True,MULTIPOLYGON (((-122.40688218485242 37.7410772...,PDR-2
159490,NaN,PDR2,9584,14421.99,2499000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159492,5598006,PDR2,4072,22176.00,1766242,89621.0,89622.0,5598006,5630.0,0.0,PDR,0.0,22140.945732,PDR-2,True,MULTIPOLYGON (((-122.40508721224816 37.7413443...,PDR-2
159504,5607061,PDR2,0,5266.00,190454,153827.0,153828.0,5607061,0.0,0.0,MISSING DATA,0.0,5584.686348,PDR-2,True,MULTIPOLYGON (((-122.40669249923647 37.7389265...,PDR-2
159505,5607062,PDR2,0,495.00,17885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#make new zoning column as a string data type based on existing zoning_x column

In [29]:
combined_assessor['finzone'] = combined_assessor['zoning_x'].astype(str)

In [30]:
combined_assessor.head()

,parcelno2,zoning_x,buildingsf,landarea,landvalue,Unnamed: 0,objectid,blklot,bldgsf,totuses,landuse,pdr,parcelarea,zoning_code,active,geometry,zoning_y,finzone
0,0001001,P,0,27965.0,0,147396.0,147394.0,0001001,0.0,0.0,PDR,0.0,28268.231998,P,True,MULTIPOLYGON (((-122.4210628988343 37.80860124...,P,P
1,0002001,C2,0,8359.0,0,72.0,73.0,0002001,0.0,0.0,PDR,0.0,8920.300030,C-2,True,MULTIPOLYGON (((-122.41981482898801 37.8087616...,C-2,C2
2,0004002,C2,0,0.0,0,6.0,7.0,0004002,0.0,20509.0,VACANT,0.0,31183.392188,C-2,True,MULTIPOLYGON (((-122.41379081959624 37.8085666...,C-2,C2
3,0005001,C2,0,68153.0,0,7.0,8.0,0005001,0.0,43725.0,PDR,0.0,69014.270707,C-2,True,MULTIPOLYGON (((-122.41593580428093 37.8082939...,C-2,C2
4,0006001,C2,0,108015.0,0,8.0,9.0,0006001,0.0,28728.0,PDR,0.0,106916.225315,C-2,True,MULTIPOLYGON (((-122.41758109128742 37.8080868...,C-2,C2

In [ ]:
#filter data based on zoning column to only include PDR districts

In [31]:
filteredPDR3 = combined_assessor[combined_assessor['finzone'].str.contains("PDR")]

In [32]:
filteredPDR3.sample(n=14)

,parcelno2,zoning_x,buildingsf,landarea,landvalue,Unnamed: 0,objectid,blklot,bldgsf,totuses,landuse,pdr,parcelarea,zoning_code,active,geometry,zoning_y,finzone
152267,5230034,PDR2,2659,0.0,348560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PDR2
148476,4786070,PDR2,2500,2500.0,344412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PDR2
140126,4019002,PDR1G,11824,6212.5,1904778,94317.0,94308.0,4019002,11824.0,7156.0,MIXED,4972.0,6146.260559,PDR-1-G,True,MULTIPOLYGON (((-122.4122370644569 37.76213473...,PDR-1-G,PDR1G
145079,4228025,PDR1G,1114,10000.0,422275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PDR1G
159424,5585004,PDR2,17100,43769.0,792888,110173.0,110159.0,5585004,17100.0,19733.0,PDR,19733.0,43160.696272,PDR-2,True,MULTIPOLYGON (((-122.40185190182133 37.7400715...,PDR-2,PDR2
138602,3938001,PDR1D,103626,79997.0,21746655,85015.0,85001.0,3938001,103626.0,0.0,PDR,0.0,80427.742253,PDR-1-D,True,MULTIPOLYGON (((-122.40090324115202 37.7662908...,PDR-1-D,PDR1D
145090,4228036,PDR1G,1500,10000.0,346076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PDR1G
118779,3574114,PDR1G,7913,3920.0,653663,82996.0,82979.0,3574114,7913.0,0.0,PDR,0.0,3879.684177,PDR-1-G,True,MULTIPOLYGON (((-122.41518349914048 37.7625565...,PDR-1-G,PDR1G
149340,4881027,PDR2,3796,0.0,134564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PDR2
153842,5332026,PDR2,2880,3598.0,424415,90580.0,90577.0,5332026,2880.0,0.0,PDR,0.0,3577.372650,PDR-2,True,MULTIPOLYGON (((-122.40090303925706 37.7391760...,PDR-2,PDR2
145039,4226018,PDR1G,7866,7700.0,1056244,102967.0,102944.0,4226018,7866.0,0.0,PDR,0.0,11473.787746,PDR-1-G,True,MULTIPOLYGON (((-122.39182057672826 37.7528920...,PDR-1-G,PDR1G
149342,4881029,PDR2,3740,0.0,435698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PDR2
149593,4909032,PDR1B,10000,10000.0,1077368,90781.0,90779.0,4909032,10000.0,20000.0,PDR,20000.0,9973.847997,PDR-1-B,True,MULTIPOLYGON (((-122.38981971297106 37.7215470...,PDR-1-B,PDR1B
149004,4829006A,PDR1B,10000,5000.0,129395,86599.0,86585.0,4829006A,10000.0,0.0,PDR,0.0,4974.972929,PDR-1-B,False,MULTIPOLYGON (((-122.38995853692941 37.7272964...,PDR-1-B,PDR1B

In [33]:
filteredPDR3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194 entries, 115261 to 161031
Data columns (total 18 columns):
parcelno2      178 non-null object
zoning_x       194 non-null object
buildingsf     194 non-null int64
landarea       194 non-null float64
landvalue      194 non-null int64
Unnamed: 0     139 non-null float64
objectid       139 non-null float64
blklot         139 non-null object
bldgsf         139 non-null float64
totuses        139 non-null float64
landuse        139 non-null object
pdr            139 non-null float64
parcelarea     139 non-null float64
zoning_code    139 non-null object
active         139 non-null object
geometry       139 non-null object
zoning_y       139 non-null object
finzone        194 non-null object
dtypes: float64(7), int64(2), object(9)
memory usage: 28.8+ KB

In [34]:
filteredPDR3.landarea.sum()

5130638.09

In [35]:
filteredPDR3.parcelarea.sum()

3979176.367905817

In [36]:
filteredPDR3.to_csv(r'filteredpdr3.csv')

In [ ]:
#playing around with which zoning column is most reliable to filter off of

In [37]:
combined_parcel['finzone2'] = combined_parcel['zoning_y'].astype(str)

In [38]:
filteredPDR4 = combined_parcel[combined_parcel['finzone2'].str.contains("PDR")]

In [39]:
filteredPDR4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139 entries, 69876 to 155456
Data columns (total 18 columns):
Unnamed: 0     139 non-null int64
objectid       139 non-null int64
blklot         139 non-null object
bldgsf         139 non-null int64
totuses        139 non-null int64
landuse        139 non-null object
pdr            139 non-null int64
parcelarea     139 non-null float64
zoning_code    139 non-null object
active         139 non-null object
geometry       139 non-null object
zoning_x       139 non-null object
parcelno2      139 non-null object
zoning_y       139 non-null object
buildingsf     139 non-null float64
landarea       139 non-null float64
landvalue      139 non-null float64
finzone2       139 non-null object
dtypes: float64(4), int64(5), object(9)
memory usage: 20.6+ KB

In [41]:
filteredpdrorig = pd.read_csv('filteredpdr.csv', low_memory=False)

In [42]:
filteredpdrorig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1448 entries, 0 to 1447
Data columns (total 12 columns):
Unnamed: 0     1448 non-null int64
objectid       1448 non-null int64
blklot         1448 non-null object
bldgsf         1448 non-null int64
totuses        1448 non-null int64
landuse        1448 non-null object
pdr            1448 non-null int64
parcelarea     1448 non-null float64
zoning_code    1448 non-null object
active         1448 non-null bool
geometry       1448 non-null object
zoning         1448 non-null object
dtypes: bool(1), float64(1), int64(5), object(5)
memory usage: 125.9+ KB